@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');



:root {
    --primary-color: rgb(155, 155, 218);
    /* rgba(255,221,0,255) */
    --primary-text-color: #374151;
    --secondary-text-color: #F9FAFB;
}

* {
    font-family: 'Lalezar', cursive;
    margin: 4px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.navbar {
    background-color: #374151;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
    padding: 0 1rem;
}



ul {
    list-style: none;
}

.navbrand {
    font-size: 1.5rem;

}

main {
    padding-top: 10vh;
    height: 80vh;
    text-align: center;
}

h1 {
    color: var(--primary-text-color);
}

label {
    font-size: 1.5rem;
    display: block;
}

#txt-input {
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid #6B7280;
    display: block;
    margin: .7rem auto;
}

button {
    margin: 1rem auto;
    border: solid #6B7280;
}

@media screen and (min-width: 768px) {
    footer p {
        transform: translateX(1rem) translateY(-1.3rem);
    }
}

@media screen and (max-width: 500px) {
    a {
        font-size: .9rem;
    }

    footer section {
        transform: translateY(-.1rem);
    }

}